html{
    scroll-behavior: smooth;}
body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff8e8;
    /* letter-spacing: -.06em; */
}

.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header #logo span{
    color: aqua;
}

.header .nav{
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;

    transition: all 0.3s ease;
}

.header .nav a:hover{
    color: #000;
    background-color: #fff;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 82vh;

    transition: all 0.3s ease;
}
.card-title{
    height: 20px;
    padding: 10px;
    background-color: #ffb52b;
}
.content-inner{
    display: flex;
    height: 82vh;
}

.content .card-about{
    flex: 1;
    padding-right: 20px;
    background-color: #F3C178;
    position: relative;
}

.content .sidebar{
    flex: 2;
    padding-right: 20px;
    background-color: #FE5E41;
}

.alignText{
    padding: 20px;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;

    transition: all 0.3s ease;
}

.align{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}



.Hover:hover{
    box-shadow: 10px 10px #000;
    transform: scale(0.95);
}

.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}
.dotdisplay{
    display: grid;
    place-items: center;
    margin: 10px;
    padding: 20px;
    border: 3px solid #000;
}


canvas {
    display: block;

    width: auto;
    height: auto;

    max-width: none;
    max-height: none;

    transform: none;
}
.window{
    width: 650px;
    background: #bfb8ff;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.window-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    background: rgba(255, 91, 252, 0.571);
    border: 2px solid #000;
    transition: all 0.3s ease;
    height: 450px;
    
    /* opacity: 0.5; */
}

.topbar{
    height: 42px;
    background: #fff;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.left{
    display: flex;
    gap: 8px;
}

.dot-terminal{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #000;
}

.red{background: #ff5f57; animation: move 1s infinite;}
.yellow{background: #febc2e; animation: move 1s .2s infinite;}
.green{background: #28c840; animation: move 1s .4s infinite;}

@keyframes move {
    40% { transform: translateY(4px); }
    80% { transform: translateY(4px); }
}

button{
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

pre{
    margin: 0;
    padding: 24px;
    color: #000;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
}

code{
    font-family: Consolas, monospace;
}
pre{
    width:100%;
    height:150px;
    margin:0;
    padding:20px;

    overflow:auto;
    white-space:pre;

    text-align:left;
}

.window-home pre{
    width:100%;
    height:500px;
    margin:0;
    padding:20px;
    

    overflow:auto;
    white-space:pre;

    text-align:left;
}




/*
.dotGrid {
      position: relative;

      width: 340px;
      height: 340px;

      border: 1px solid #292929;
    }
.dot,
.dot-matrix{
      position: absolute;

      top: 0;
      left: 0;

      width: 18px;
      height: 18px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 3px;

      background: orange;
      color: black;

      font-size: 6px;
    }

.dot-matrix {
    border-radius: 10%;
}

.active {
    background: red;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}

.match {
    background: green;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}

.hold {
    background: yellow;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}

.eliminate {
    background: lightblue;
} */


.grid-screen {
    position: relative;
}

.grid-item {
    position: absolute;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: blue;
    color: white;
    
    transition: all 0.25s ease;
        /* translate 700ms ease-in-out,
        rotate 700ms ease,
        scale 700ms ease,
        background 200ms ease; */
}
.round-grid-item {
    position: absolute;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: pink;
    color: white;
    border-radius: 30%;
    
    transition: all 0.25s ease;
        /* translate 700ms ease-in-out,
        rotate 700ms ease,
        scale 700ms ease,
        background 200ms ease; */
}
.grid-item.active {
    background: red;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}
.grid-item.match {
    background: green;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}
.grid-item.hold {
    background: yellow;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}
.grid-item.eliminate {
    background: lightblue;
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px black;
}


.play-demo{
    position:absolute;

    top:12px;
    right:12px;

    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    background:#ffffff;
    color:#111;

    font-size:18px;
    font-weight:bold;

    z-index:20;

    transition:.2s;
}

.play-demo:hover{
    transform:scale(1.08);
}

.play-demo:active{
    transform:scale(.95);
}

.grid-line{
    position: absolute;
    height: 2px;
    background: #000;
    transform-origin: left center;
    z-index: 0;
}

.grid-line{
    position: absolute;
    height: 2px;
    background: #333;
    transform-origin: left center;
    overflow: hidden;
}

.grid-line::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left center;
}

.grid-line.active::after{
    animation: fillLine .25s linear forwards;
}

@keyframes fillLine{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}