html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff8e8;
}

.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header #logo span{
    color: aqua;
}

.header .nav{
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;

    transition: all 0.3s ease;
}

.header .nav a:hover{
    color: #000;
    background-color: #fff;
}

.intro{
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 80vh;
}

.intro .welcomeText{
    flex:6;
    position:relative;
    overflow:hidden;
    border:3px solid #000;
    background:#fff;
    min-height:500px;
    transition:all .3s ease;
    padding: 10px 0px 0px 40px ;
}

/* GRID BEHIND */

#grid-pattern-demo{
    /* position:absolute; */
    inset:0;
    z-index:0;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:.7;
    /* background-color: re; */
}

/* TEXT OVER GRID */

.welcomeContent{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
    width:55%;
    max-width:500px;
    text-align:center;
}

.welcomeContent h1{
    font-size:3rem;
    font-weight:1000;
    margin:0;
}

.welcomeContent h2{
    margin:0;
}

.welcomeContent h2 span{
    font-size:3rem;
    font-weight:1000;
}

.welcomeContent p{
    max-width:450px;
    margin:15px auto;
}

.welcomeText button{
    font-size:32px;

    background:#ff4974;
    border:1px solid #000;
    border-radius:10px;

    transition:.3s;
}

.welcomeText button:hover{
    background:#000;
    color:#fff;
}

.intro .profileImage{
    flex: 4;
    padding-right: 20px;
    background-color: #ff0048;
}

.content-home{
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 82vh;
}

.content-home #about-section{
    flex: 2;
    padding-right: 20px;
    background-color: #f8ff2b;
}

.content-home .sidebar{
    flex: 2;
    padding-right: 20px;
    background-color: #f8ff2b;
}

.alignText{
    padding: 20px;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;

    transition: all 0.3s ease;
}

.personality{
    margin: 20px;
    height: 50vh;
    /* background-color: #36deff; */
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    
}
#grid-pattern-yellow{
    position:absolute;
    inset:0;
    z-index:0;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:.7;
    padding: 10px 0px 0px 80px;
}
.personalContent{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
    width:55%;
    max-width:500px;
    text-align:center;
}

.projects{
    display: flex;
    padding: 20px;
    height: 50vh;
    gap: 20px;
    justify-content: space-between;
}

.projects .project-card{
    flex: 1;
    background-color: #89FC00;
}

.Hover:hover{
    box-shadow: 10px 10px #000;
    transform: scale(0.95);
}

.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}
