html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    flex-direction:column;

    font-family:"JetBrains Mono",monospace;

    background:#fff8e8;
}

/* ---------- Header ---------- */

.header{

    background:#000;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:16px 32px;
}

#logo span{
    color:aqua;
}

.nav{

    display:flex;
    gap:20px;
}

.nav a{

    color:white;

    text-decoration:none;

    border:1px solid white;

    padding:8px 16px;

    transition:.25s;
}

.nav a:hover{

    background:white;
    color:black;
}

/* ---------- Demo Area ---------- */

.demo-section{

    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

/* Grid Container */

#grid-linked-list{

    position:relative;

    top: 0;
    left: 0;
    /* transform:translate(12%, 2%); */

    width:700px;
    height:700px;

    border:2px dashed #ccc;
}

/* ---------- Grid Item ---------- */

.ll-grid-item{

    position:absolute;

    /* width:40px;
    height:40px; */

    display:flex;
    justify-content:center;
    align-items:center;

    background:royalblue;
    color:white;

    border-radius:30%;

    user-select:none;

    transition:.25s;
}

/* ---------- Footer ---------- */

.footer{

    background:black;
    color:white;

    text-align:center;

    padding:20px;
}

/* *{box-sizing:border-box}body{margin:0;font-family:Arial,sans-serif;background:#f5f5f5} */
/* header{height:60px;background:#fff;border-bottom:1px solid #ddd;display:flex;align-items:center;padding:0 24px;font-weight:bold;font-size:22px;position:sticky;top:0} */
.layout{display:grid;grid-template-columns:260px 1fr;min-height:calc(100vh - 60px)}
aside{background:#fff;border-right:1px solid #ddd;padding:20px}
aside h3{margin:20px 0 10px;color:red}
aside a{
    display: block;

    color:white;
    background-color: #000;

    text-decoration:none;

    border:1px solid white;

    padding:8px 16px;

    transition:.25s;
}
aside a:hover{

    background:white;
    color:black;
}
main{padding:40px;max-width:900px;background:#fff}
/* pre{background:#1e1e1e;color:#fff;padding:16px;border-radius:8px;overflow:auto} */