html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header .nav{
    margin-left: 20px;
    display :flex;
    gap: 20px;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
}


.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}