html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff8e8;
}

.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header #logo span{
    color :aqua;
}

.header .nav{
    margin-left: 20px;
    display :flex;
    gap: 20px;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    border : 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;

    transition: all 0.3s ease;
}

.header .nav a:hover{
    color: #000;
    background-color: #fff;
}

.content{
    display:flex;
    flex-direction: column;
    margin: 20px;
    height: 82vh;

    transition : all 0.3s ease;
}
#Title{
    height:20px;
    padding:10px;
    background-color:#ffb52b
}
.content-inner{
    display:flex;
    height: 82vh;
}

.content #about{
    flex: 1;
    padding-right: 20px;
    background-color: #f8ff2b;
}

.content .sidebar{
    flex: 2;
    padding-right: 20px;
    background-color: #f8ff2b;
}

.alignText{
    padding: 20px;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;

    transition: all 0.3s ease;
}

.Hover:hover{
    box-shadow: 10px 10px #000;
    transform: scale(0.95);
}

.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}

.window{
    width:650px;
    background:#bfb8ff;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.topbar{
    height:42px;
    background:#fff;
    border-bottom: 2px solid #000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 14px;
    
}

.left{
    display:flex;
    gap:8px;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    border : 2px solid #000;
}

.red{background:#ff5f57; animation: move 1s infinite;}
.yellow{background:#febc2e;animation: move 1s .2s infinite;}
.green{background:#28c840;animation: move 1s .4s infinite;}

@keyframes move {
    40% { transform: translateY(-4px);}
    80% { transform: translateY(-4px);}

}

button{
    padding:6px 14px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

pre{
    margin:0;
    padding:24px;
    color:#000;
    font-size:15px;
    line-height:1.6;
    text-align:left;
}

code{
    font-family:Consolas,monospace;
}