.header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header #logo {
    color: aqua;
    font-size: 36px;
}

.header .nav {
    display: flex;
    gap: 20px;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.header .nav a:hover{
    color: #000;
    background-color: #fff;
}